/* color constants */
/* font constants */
/* footer styling*/
/* font for the body and titles */
.raleway {
  font: 100%/140% Raleway, Raleway, sans-serif;
  font-weight: 400;
  color: #503232;
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1 {
  font-weight: 700;
  font: 36px Raleway, Raleway, sans-serif;
  font-family: Raleway !important;
}
h2 {
  font-weight: 700;
  font: 30px Raleway, Raleway, sans-serif;
  font-family: Raleway !important;
}
h3 {
  font-weight: 700;
  font: 24px Raleway, Raleway, sans-serif;
  font-family: Raleway !important;
}
h4 {
  font-weight: 700;
  font: 20px Raleway, Raleway, sans-serif;
  font-family: Raleway !important;
}
h5 {
  font-weight: 700;
  font: 16px Raleway, Raleway, sans-serif;
  font-family: Raleway !important;
}
h6 {
  font-weight: 700;
  font: 12px Raleway, Raleway, sans-serif;
  font-family: Raleway !important;
}
